@charset "UTF-8";

/* 余白やサイズ計算の初期化 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* リストの点を消す */
ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
	align-items: stretch; /* 子要素の高さをヘッダー全体に伸ばす */
}

/* 曲名表示 */
.auto_play_status{
	display:flex;
	font-size: 16px;
  font-weight: bold;
	padding: 0 20px;
	align-items: center;  /* テキストを上下中央揃え */
	background-color: rgb(212, 235, 255);
	border-bottom-right-radius: 15px;

	/* 初期状態（画面外へ格納） */
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, 
							opacity 0.5s ease;
}

/* 再生時の表示状態 */
.auto_play_status.is-active {
  transform: translateX(0);
  opacity: 1;
}

/* 自動演奏ボタン */
.auto_play_button {
	margin-top: 10px;
	margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;

  cursor: pointer;
}

.auto_play_button:hover {
  background-color: rgb(220, 220, 220);
}

.auto_play_button:active {
  background-color: rgb(190, 190, 190);
}

/* 演奏中の音の表示 */
.display_note {
  min-width: 100px;
  max-width: 170px;
  width: 20%;
  height: 80px;
  margin: 25vh auto 5vh;
  background-color: rgb(255, 240, 220);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

/* 鍵盤 */
.keyboard {
  margin: 0 auto;
  padding: 0 3%;
  display: flex;
  max-width: 800px;
  height: 50px;
  gap: 3px;
}


/* 鍵盤の各キー*/
.key {
  width: 100%;
  background-color: rgb(205, 255, 238);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  cursor: pointer;
}

.key:hover {
  background-color: rgb(180, 246, 229);
}

.key:active {
  background-color: rgb(125, 205, 188);
  transform: translateY(2px);
}