@charset "UTF-8";

/* 余白やサイズ計算の初期化 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* リストの点を消す */
ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
	align-items: stretch;
}

/* 音量調節バー */
.volume_control {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 20px;
	font-size: 14px;
}

.volume_slider {
	cursor: pointer;
}


/* 演奏中の音の表示 */
.display_note {
  min-width: 100px;
  /* max-width: 170px; */
  width: fit-content;
  height: 80px;
  padding: 0 24px;
  margin: 25vh auto 5vh;
  background-color: rgb(255, 240, 220);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

/* 鍵盤 */
.keyboard {
  margin: 0 auto;
  padding: 0 3%;
  display: flex;
  max-width: 800px;
  height: 50px;
  gap: 3px;
}


/* 鍵盤の各キー*/
.key {
  width: 100%;
  background-color: rgb(205, 255, 238);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  cursor: pointer;
}

.key:hover {
  background-color: rgb(180, 246, 229);
}

.key.active {
  background-color: rgb(125, 205, 188);
  transform: translateY(2px);
}