/* 表示物等 */
.main_object{
	display: flex;
	flex:1;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	gap:60px;
	
	padding-bottom: 12vh;
}

/* 演奏中の音の表示 */
.display_note {
  min-width: 100px;
  width: fit-content;
  height: 80px;
  padding: 0 24px;

  font-size: 28px;
  letter-spacing: 2px;
  color: #f0f0f0;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

/* 鍵盤 */
.keyboard {
  padding: 0 3%;
  display: flex;
  max-width: 800px;
  height: 50px;
  gap: 3px;
}


/* 鍵盤の各キー*/
.key {
  width: 50px;
  background-color: #2a2a2a;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  cursor: pointer;

	transition: background-color 0.3s ease, transform 0.1s ease;

}

.key:hover {
  background-color: #333;
}

.key.active {

  background-color: #c59c3e;
  transform: translateY(2px);
}